name: Deploy to S3

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Verify Secret Availability
        shell: bash
        run: |
          if [ -z "${{ secrets.AWS_ACCESS_KEY_ID }}" ]; then
            echo "❌ ERROR: AWS_ACCESS_KEY_ID is missing from GitHub Secrets!"
            exit 1
          else
            echo "✅ SUCCESS: AWS_ACCESS_KEY_ID is loaded."
          fi

      - name: Deploy to S3
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: 'ap-south-1'
        run: |
          aws s3 sync . s3://my-static-web-project-123 --delete --exclude ".git/*" --exclude ".github/*"